<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/HTML/assets/vendor/bootstrap/bootstrap.min.css">

  </head>

  <body>

    <main>
      <!--=== content ===-->
    <section class="g-pt-100 g-pb-100">

      {% block content %}
      {% endblock %}

    </section>
      <!--=== End content ===-->

      <!-- Copyright Footer -->
      <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
              <div class="d-lg-flex">
                <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2020 © All Rights Reserved.</small>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Copyright Footer -->
    </main>

    <!-- JS Global Compulsory -->
    <script src="/static/HTML/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/HTML/assets/vendor/bootstrap/bootstrap.min.js"></script>

  </body>
</html>
